@import "../node_modules/codemirror/lib/codemirror.css";
@import "../node_modules/codemirror/theme/material.css";

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "prompt prompt"
    "terminal options"
    ". button";
}

.prompt {
  grid-area: prompt;
}

.terminal {
  grid-area: terminal;
}

.options {
  grid-area: options;
}

.button {
  grid-area: button;
}

.codemirror {
  font-size: 28px;
  text-align: left !important;
  height: 400px;
  margin: 2rem;
  width: 90%;
}
